// Allow all users to change network settings
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.NetworkManager.settings.modify.system" ||
        action.id == "org.freedesktop.NetworkManager.network-control" ||
        action.id == "org.freedesktop.NetworkManager.settings.modify.own" ||
        action.id == "org.freedesktop.NetworkManager.settings.modify.hostname" ||
        action.id == "org.freedesktop.NetworkManager.wifi.scan") {
        if (subject.isInGroup("users") && subject.active) {    
            return polkit.Result.YES;
        } else {
            return polkit.Result.NO;
        }
    }
});

