// Allow all users to update package cache
polkit.addRule(function(action, subject) {
    if  (action.id == "org.freedesktop.packagekit.system-sources-refresh" ||
        action.id == "org.freedesktop.packagekit.refresh-cache" ||
        action.id == "org.debian.apt.update-cache" ||
        action.id == "org.freedesktop.packagekit.system-update") {
        if (subject.isInGroup("users") && subject.active) {    
            return polkit.Result.YES;
        } else {
            return polkit.Result.NO;
        }
    }
});

// Allow all users to upgrade packages
polkit.addRule(function(action, subject) {
    if  (action.id == "org.freedesktop.packagekit.package-install" ||
        action.id == "org.debian.apt.upgrade-packages" ||
        action.id = "org.debian.apt.install-or-remove-packages") {
        if (subject.isInGroup("users") && subject.active) {    
            return polkit.Result.YES;
        } else {
            return polkit.Result.NO;
        }
    }
});


